# -- Docker Compose reference:
#    https://docs.docker.com/reference/compose-file/version-and-name

name: glassdoc

services:
  db:
    image: $DB_IMAGE
    user: couchdb
    env_file:
      - .env
    networks:
      - db-net
    volumes:
      - db-data:/opt/couchdb/data

  db-backup:
    image: $DB_IMAGE
    user: couchdb
    env_file:
      - .env
    networks:
      - db-net

  db-route:
    image: alpine/socat
    command: "tcp-listen:$DB_PORT_HOST,reuseaddr,fork tcp-connect:db:$DB_PORT_INTERNAL"
    ports:
      - "$DB_PORT_HOST_USER:$DB_PORT_HOST"
    networks:
      - db-net

  shell:
    build:
      context: .
      dockerfile: shell.Dockerfile
    env_file:
      - .env
    networks:
      - db-net

  client:
    build:
      context: .
      dockerfile: client.Dockerfile
    env_file:
      - .env
    networks:
      - db-net
    volumes:
      - vault:/home/ubuntu/.vault

  client-route:
    image: alpine/socat
    command: "tcp-listen:$WEBVIEW_PORT_HOST,reuseaddr,fork tcp-connect:client:$WEBVIEW_PORT_HTTP_INTERNAL"
    ports:
      - "$WEBVIEW_PORT_HOST_USER:$WEBVIEW_PORT_HOST"
    networks:
      - db-net

  # TODO
  # https://github.com/NginxProxyManager/nginx-proxy-manager
  gateway:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped

networks:
  db-net:
    driver: bridge

volumes:
  db-data:
  vault:
